/* GENERAL*************************************************************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}

:root {
    --vert: #ccd5ae;
    --vert_clair: #e9edc9;
    --beige_clair: #fefae0;
    --beige: #faedcd;
    --brun: #d4a373;
    --brun_fonce: #4b3d32;
    --beige_clair_low_opacity: rgba(254, 250, 224, 0.6);
    --vert_fonce_low-opacity: rgba(40, 54, 24, 0.6)
}

body {
    background-color: var(--beige_clair);
}

header {
    background-color: var(--vert);
    display: flex;
    padding: 10px;
}

.logo {
    width: 50px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.navigateur {
    width: 100%;
}

.navigateur a {
    gap: 80px;
    text-decoration: none;
    color: black;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
}

.navigateur a:hover {
    background-color: var(--beige_clair_low_opacity);
}

/* INDEX************************************************************************* */

h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    color: var(--brun_fonce);
    font-weight: 500;
    padding: 20px 40px 20px 40px;
    background-color: var(--vert);
    width: 500px;
    position: absolute;
    left: 50%;
    top: 19%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

form {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: var(--vert_clair);
    border-radius: 10px;
}

form p {
    padding: 10px;
}

label {
    display: block;
    padding-bottom: 10px;;
}

form input {
    padding: 5px;
    width: 80%;
    border: none;
    border-radius: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: var(--vert);
    padding: 15px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: var(--vert_fonce_low-opacity);
}

footer {
    background-color: var(--vert);
    height: 80px; 
    width: 100%; 
    position: absolute;
    bottom: 0;
    left: 0;
}

.total_article {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: var(--vert);
    border-radius: 10px;
}

.total_article p {
    text-align: center;
}


/* RECAP************************************************************************* */

table {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: var(--vert_clair);
    border-radius: 10px;
    overflow-y: auto; 
    border-spacing: 0; 
    text-align: center;
}

table thead th {
    padding: 15px;
}

table td {
    padding: 10px;
    border-collapse: collapse;
    border-top: 1px solid var(--brun_fonce);
    text-align: center;
    
}

.tgeneral {
    padding: 15px;
    text-align: start;
}


.table-container {
    width: 50%;
    max-height: 300px; 
    overflow-y: auto; 
}

.tproduit td {
    padding: 0;
    text-align: left;
}

table a {
    text-decoration: none;
    color: black;
    font-weight: 550;
}
table a:hover {
    opacity: 0.6;
}

.modifier_qtt a {
    font-weight: 500;
}

.delete_message {
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 3em;
    background-color:var(--vert);
    border: 3px dashed var(--brun_fonce);
    padding: 10px;
}

.no_product {
    color: var(--brun_fonce);
    font-size: 2em;
    position: absolute;
    top: 45%;
    left: 40%;
}
